
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}


.niz {
    display: flex;
    justify-content: space-around;
}


.card {
    text-align: center;
    padding: 20px;
    width: 250px;
    box-shadow: 1px 20px 20px grey;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}


.zagolovok1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 130px;
    background: green;
    color: white;
}

.zagolovok2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 130px;
    background: rgb(8, 49, 184);
    color: white;
}


.zagolovok3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 130px;
    background: purple;
    color: white;
}

li {
    list-style-type: none;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    background: black;
    opacity: 70%;
    color: white;
}

.button1 {
    width: 240px;
    height: 60px;
    background: green;
    color: white;
    border: none;
}

.button2 {
    width: 240px;
    height: 60px;
    background: rgb(8, 49, 184);
    color: white;
    border: none;
}


.button3 {
    width: 240px;
    height: 60px;
    background:purple;
    color: white;
    border: none;
}

img {
    width: 100px;
}